{% extends 'base.html.twig' %}

{% block title %} Visiteur {% endblock %}

{% block body %}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/visiteur">
        <h5>GSB Frais</h5>
    </a>
    <span class="navbar-header text-center">
      <h3>Espace Visiteur</h3>
      <h7>renseigner Fiches de Frais</h7>
    </span>
    <span class="navbar-text" id="deconnexion">
      <h5>{{app.session.get('prenom')}} {{app.session.get('nom')}}</h5>
    </span>
  </div>
</nav>

<!--{% if test is empty %}

<h5>-- {{test}} --</h5>

{% endif %} A VOIR !!-->

{% if ligneFraisForfait is empty and ligneFraisHorsForfait is empty %}

    <button id="debutQuestionnaire" type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#ajouterFrais">
        Ajouter frais
    </button>

{% else %}
<div style="display: flex;
  align-items: center;
  justify-content: center;">
  <h3 style="width: 50%; text-align: center;">Fiche Frais Forfait</h3>
  <h3 style="width: 50%; text-align: center;">Fiche Frais Hors Forfait</h3>
</div>
<div style ="display: flex;
  justify-content: center;">
<div style="width: 50%;">
<div style="justify-content: center;">
  {% if ligneFraisForfait is not empty %}
  {% for ligneFrais in ligneFraisForfait %}

  <table id="table" style="border: solid; margin:0 auto auto auto; width: 70%; text-align: center;">
      <thead>
          <tr style="background-color: #333; color: #fff;">
              <th style="border: 1px solid #333">mois</th>
              <th style="border: 1px solid #333">id Forfait</th>
              <th style="border: 1px solid #333">quantité</th>
              <th style="border: 1px solid #333">montant</th>
          </tr>
      </thead>
      <tr>
        <form method='POST' action="../visiteur/renseignerFicheFrais">
          <td style="border: 1px solid #333;text-align: center;">{{ ligneFrais['mois'] }}</td>
          <td style="border: 1px solid #333;text-align: center; display: none;"><input style="width: 89px;" type="number" name="mois" placeholder={{ ligneFrais['mois'] }}></td>

          <td style="border: 1px solid #333;text-align: center;">{{ ligneFrais['idFraisForfait'] }}</td>
          <td style="border: 1px solid #333;text-align: center; display: none;"><input style="width: 89px;" type="text" name="idForfait" placeholder={{ ligneFrais['idFraisForfait'] }}></td>

          <td id="ligneFixe{{ligneFrais['idFraisForfait']}}" style="border: 1px solid #333;text-align: center;">{{ ligneFrais['quantite'] }}</td>
          <td id= "ligneModif{{ligneFrais['idFraisForfait']}}" style="border: 1px solid #333;text-align: center; display: none;"><input style="width: 89px;" type="number" name="quantite" placeholder={{ ligneFrais['quantite'] }}></td>

          <td style="border: 1px solid #333;text-align: center;">{{ ligneFrais['montant'] * ligneFrais['quantite']  }} €</td>
          <td style="border: 1px solid #333;text-align: center; display: none;"></td>


          <td><input type="boutton" id="modifier{{ligneFrais['idFraisForfait']}}" value="Modifier"></td>
        
          <td><input id= "valider{{ligneFrais['idFraisForfait']}}" style="display: none;" type="Submit" value="Valider"</td>
      </tr>
  </table>
  <script>
    function modification(){
      document.getElementById(id="ligneFixe{{ligneFrais['idFraisForfait']}}").style.display = "none";
      document.getElementById(id="ligneModif{{ligneFrais['idFraisForfait']}}").style.display = "";
      document.getElementById(id="modifier{{ligneFrais['idFraisForfait']}}").style.display = "none";
      document.getElementById(id="valider{{ligneFrais['idFraisForfait']}}").style.display = "";
    }
    modifier{{ligneFrais[2]}}.onclick = modification;
  </script>
    <br>
  {% endfor %}
  
  {% endif %}
  </div>
</div>
<div style="width: 50%;">
  {% if ligneFraisHorsForfait is not empty %}
  {% for i in 0..(ligneFraisHorsForfait|length)-1 %}

  <table style="border: solid;margin: 0 auto auto auto;width: 70%; text-align: center;">
      <thead>
          <tr style="background-color: #333; color: #fff;">
              <th style="border: 1px solid #333">mois</th>
              <th style="border: 1px solid #333">libelle</th>
              <th style="border: 1px solid #333">date</th>
              <th style="border: 1px solid #333">montant</th>  
          </tr>
      </thead>
      <tr>
          <td style="border: 1px solid #333;text-align: center;">{{ ligneFraisHorsForfait[i][2] }}</td>
          <td style="border: 1px solid #333;text-align: center;">{{ ligneFraisHorsForfait[i][3] }}</td>
          <td style="border: 1px solid #333;text-align: center;">{{ ligneFraisHorsForfait[i][4] }}</td>
          <td style="border: 1px solid #333;text-align: center;">{{ ligneFraisHorsForfait[i][5] }}</td>
      </tr>
  </table>
    <br>
  {% endfor %}
  {% endif %}
</div>
</div>
  <br>
    <button id="debutQuestionnaire" type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#ajouterFrais">
        Ajouter frais
    </button>

{% endif %}

<!-- Modal -->
<div class="modal fade" id="ajouterFrais" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ajouterFraisLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titreModal">Ajouter une fiche de frais</h5>
      </div>
      <div class="modal-body">
        <form method='POST' action="../visiteur/renseignerFicheFrais">
            <select name="TypeFrais">
                <option id="supLigne" checked value='00'>-- Choisissez un type de frais --</option>
                <option id="afficherLigneForfaitETP" value="ETP">Forfait Etape</option>
                <option id="afficherLigneForfaitKM" value="KM">Frais Kilométrique</option>
                <option id="afficherLigneForfaitNUI" value="NUI">Nuitée Hôtel</option>
                <option id="afficherLigneForfaitREP" value="REP">Repas Restaurant</option>
                <option id="afficherLigneHorsForfait" value="AUT">Autre</option>
            </select>
            <div id="qstFraisForfait">
              <input type='number' name='quantite' placeholder='Entrez la quantité' >
            </div>
            
            <div id="qstFraisHorsForfait">
              <input type='text' name='libelle' placeholder='Entrez le libelle' >
              <br>
              <libelle>Entrez la date : </libelle>
              <input type='date' name='date'>
              <br>
              <input type='number' name='montant' placeholder='Entrez le montant' >
            </div>
            
            <script>
            function supQuestionnaireForfait(){
                if(getComputedStyle(qstFraisForfait).display != "none"){
                  qstFraisForfait.style.display= "none";
                  }
                if(getComputedStyle(qstFraisHorsForfait).display != "none"){
                    qstFraisHorsForfait.style.display= "none";
                  }
                  var ligneFraisForfaitAfficher = 1;
                  var ligneFraisHorsForfaitAfficher = 1;
              }
              debutQuestionnaire.onclick= supQuestionnaireForfait;
              supLigne.onclick = supQuestionnaireForfait;         
              
              function ligneFraisForfait(){
                if(getComputedStyle(qstFraisHorsForfait).display != "none"){
                    qstFraisHorsForfait.style.display= "none";
                  }
                if(getComputedStyle(qstFraisForfait).display != "none" && ligneFraisForfaitAfficher ===1){
                  qstFraisForfait.style.display= "none";
                }else{
                  qstFraisForfait.style.display= "block";
                }
              }
              afficherLigneForfaitETP.onclick= ligneFraisForfait;
              afficherLigneForfaitKM.onclick= ligneFraisForfait;
              afficherLigneForfaitNUI.onclick= ligneFraisForfait;
              afficherLigneForfaitREP.onclick= ligneFraisForfait;

              function ligneFraisHorsForfait(){
                if(getComputedStyle(qstFraisForfait).display != "none"){
                    qstFraisForfait.style.display= "none";
                  }
                if(getComputedStyle(qstFraisHorsForfait).display != "none" && ligneFraisHorsForfaitAfficher === 1){
                  qstFraisHorsForfait.style.display= "none";
                }else{
                  qstFraisHorsForfait.style.display= "block";
                }
              }
              afficherLigneHorsForfait.onclick= ligneFraisHorsForfait;
              
            </script>
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <input type="submit" class="btn btn-primary" value="Valider">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}